<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.bletchley"
      android:versionCode="1"
      android:versionName="1.0">

    <application android:theme="@style/Theme.Enigma" android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Text"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".NfcCollector"
                  android:label="Engima Encode"
                  android:launchMode="singleInstance">
			<intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <data android:mimeType="text/*" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".TagViewer" >
        </activity>

        <activity android:name=".HashDecoder"  android:label="Engima Decode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
            	<action android:name="android.intent.action.SEND" />
   				<category android:name="android.intent.category.DEFAULT" />
   				<data android:mimeType="text/*" />
			</intent-filter>
        </activity>
    </application>
    
    <uses-sdk android:minSdkVersion="9" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
</manifest>